/* Footer */
.btn-imprint{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    transition: ease-in-out 225ms;
    font-size: 0.75em;
    padding: 8px;
    width: fit-content;
}

.btn-imprint:hover{
    cursor: pointer;
    color: white;
    scale: 1.1;
}

.imprint-center{
    margin-left: 5vw ;
    margin-top: 5vh;
    margin-right: 5vw;
    margin-bottom: 5vh;
    font-size: 16px;
    line-height: 150%;
}
.imprint-center h1{
    font-size: 2em;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 24px;
}

.imprint-center nav{
    font-size: 1.75em;
    margin-bottom: 8vh;
}

.imprint-content a {
    text-decoration: none;
    color: white;
}

.imprint-content a:hover {
    color: rgb(198, 220, 254);
    transition: ease-in 125ms;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-weight: 400;
    text-shadow: 0px 0px 1px rgba(80, 150, 255, 0.3);
}

.nav-imprint{
    text-decoration: none;
    color: white;
    transition: ease-in-out 225ms;
}

.nav-imprint:hover{
   scale: 1.1;
}